<center>

		<div style="font-family: Tahoma">


<h5 align="left">
			<%= link_to "Reports", users_claims_report_path, :class => "btn btn-default" %></h5>

	<% if not @expense1.blank? %>
	
<h4 style="color: Cornsilk;" align = "center"> List of Approved claims</h4>

<table border = "2">
	<tr>
		<th>Date</th>
		<th>Claimed By</th>
		<th>Expense Type</th>
		<th width = "160px">Expense Narration</th>
		<th width = "50px">Bill</th>
		<th>Claimed Amount</th>
		<th>Approved Amount</th>
		<th>Claim status</th>
		<th>Pay status</th>
	</tr>
	<% @expense1.each do |i| %>
	<tr>
		<td><%= i.date %></td>
		<td><%= i.claimed_by%></td>
		<td><%= i.expense_type %></td>
	    <td><%= i.narrate_expense %></td>
	    
	    <% if not i.voucher.blank? %>
	    <td><%= link_to "view", users_show_image_path(i) %>
	    <% else %>
	    <td>No Bill</td>
	    <% end %>

    	<td><%= i.total %></td>
    	<td><%= i.approved_amount %></td>
    	<td><%= i.claim_status %></td>
    	<td><%= i.pay_status %></td>
    </tr>
    <% end %>

  </table>

	<% else	%>

	<h4 style="color: Cornsilk;" align = "center"> List of Declined claims</h4>

<table border = "2">
	<tr>
		<th>Date</th>
		<th>Claimed By</th>
		<th>Expense Type</th>
		<th>Expense Narration</th>
		<th width = "50px">Bill</th>
		<th>Claimed Amount</th>
		<th>Approved Amount</th>
		<th>Claim status</th>
		<th>Pay status</th>
		
	</tr>
	<% @expense2.each do |i| %>
	<tr>
		<td><%= i.date %></td>
		<td><%= i.claimed_by%></td>
		<td><%= i.expense_type %></td>
	    <td><%= i.narrate_expense %></td>

	    <% if not i.voucher.blank? %>
	    <td><%= link_to "view", users_show_image_path(i) %>
	    <% else %>
	    <td>No Bill</td>
	    <% end %>

    	<td><%= i.total %></td>
    	<td><%= i.approved_amount %></td>
    	<td><%= i.claim_status %></td>
    	<td><%= i.pay_status %></td>
    </tr>
    <% end %>


</table>


<% end %>

</div>

</center>