
<body><center>

	<div style="font-family: Tahoma">

		<h3>Balance Sheet for the month of <%= Date.today.strftime("%B") %></h3>

		<% cn=[]; %>
		<% exp=[] %>

		<% @debit.each{|i| cn<<i.amount.to_i; exp<<i.total_expenses unless i.total_expenses.nil?} %>
		<% amt = cn.sum %>
		<% tot_exp = exp.sum %>


	<table border="2">

<tr>
<th>Date</th>
<th>Received Amount</th>
<th>Expense</th>
<th>Balance in Hand</th>
</tr>

<tr>
<td><%= Date.today %></td>
<!--td data-toggle="modal" data-target="#myModal" style = cursor:pointer; align = "right"-->
<td align = "right"><%= a = amt %></td>

<td  align = "right"><%= b = tot_exp %></td>
<% g = a-b %>
<td  align = "right"><%= g %></td>

</tr>

</table>

<%= form_for :expense, :url => {:controller => "users", :action => "approve_claim" } do |exp| %>
		
		<% @expense2=Expense.where(expense_type: "Cash in Advance", claim_status: nil) %>

<h4 align = "center"> Claims waiting for Advance payment</h4>
<table border = "2">
	<tr>
		<th>Date</th>
		<th>Claimed By</th>
		<th>Expense Type</th>
		<th width = "160px">Expense Narration</th>
		<th>Claimed Amount</th>
        <th colspan="3" ><center> Action</center></th>

	</tr>

	<% if @expense2.blank? %>
	<table><th>No records to display</th></table>
	<% else %>

	<%tot_amnt=[]%>


	<% @expense2.each do |i| %>
	<tr>
		<td><%= i.date.strftime("%d/%m/%y") %></td>
		<td><%= i.claimed_by%></td>
		<td><%= i.expense_type %></td>
	    <td><%= i.narrate_expense %></td>
    	<td align="right"><%= i.total %></td>
	    <% tot_amnt << i.total.to_i %>	
    	<td align="center"><%= check_box_tag "expense_ids[]", i.id %></td>

	</tr>

	<% end %>
	<tr><td>Total</td>
		<td colspan='4' align="right"><%= tot_amnt.sum %></td>
	</tr>
    <% end %>

</table>


<% @expense4=Expense.where(expense_type: "Advance return", claim_status: nil) %>
		
<h4 align = "center"> Claims for returning Advance payment</h4>

<table border = "2">
	<tr>
		<th>Date</th>
		<th>Claimed By</th>
		<th>Expense Type</th>
		<th width = "160px">Expense Narration</th>
		<th>Claimed Amount</th>
        <th colspan="3" ><center> Action</center></th>

	</tr>

	<% if @expense4.blank? %>
	<table><th>No records to display</th></table>
	<% else %>

	<%total_amnt=[]%>


	<% @expense4.each do |i| %>
	<tr>
		<td><%= i.date.strftime("%d/%m/%y") %></td>
		<td><%= i.claimed_by%></td>
		<td><%= i.expense_type %></td>
	    <td><%= i.narrate_expense %></td>
    	<td align="right"><%= i.total %></td>
	    <% total_amnt << i.total.to_i %>	
    	<td align="center"><%= check_box_tag "expense_ids[]", i.id %></td>

	</tr>

	<% end %>
	<tr><td>Total</td>
		<td colspan='4' align="right"><%= total_amnt.sum %></td>
	</tr>
    <% end %>

</table>

<h4>Claims waiting for approval</h4>
	
<table border = "2">
	<tr>
		<th> Date</th>
		<th> Claimed By</th>
		<th> Expense Type</th>
		<th width = "160px"> Expense Narration</th>
		<th width = "50px">Bill</th>
		<th> Claimed Amount</th>
	<th colspan="3" width="50px" ><center> Action</center></th> 
	</tr>
	<% @expense1.each do |i| %>
	<tr>
		<td><%= i.date.strftime("%d/%m/%y") %></td>
		<td><%= i.claimed_by%></td>
		<td><%= i.expense_type %></td>
	    <td><%= i.narrate_expense %></td>
	    
	    <% if not i.voucher.blank? %>
	    <td><%= link_to users_show_image_path(i) do %><i class="fa fa-eye" aria-hidden="true"> View</i><%end%>
         <% else %>
	    <td>No Bill</td>
	    <% end %>
    	
    	<td align="right"><%= i.total %></td>

    	<td align="center"> <%= check_box_tag "expense_ids[]", i.id %> </td>

    </tr>
    <% end %>

</table>

<div>
	<%= exp.button "Approve", action: "approve_claim", :name => "commit", :value => "approve", :class => "btn btn-success" %>
	<%= exp.button "Decline", action: "decline_claim", :name => "commit", :value => "decline", :class => "btn btn-danger" %>
</div>


<!--div><-%= exp.button "Approve on condition", :name => "commit", :value => "approve_on_condition", :class => "btn btn-warning" %-->
</div>

<!--%= exp.button "Pay now", :name => "commit", :value => "pay_now", :class => "btn btn-success" %-->
	<!--%= exp.button "Pay later", :name => "commit", :value => "pay_later", :class => "btn btn-warning" %-->

<%if not admin?%>
<div><%= exp.button "Request for Approval", :name => "commit", :value => "req_for_approval", :class => "btn btn-primary" %>
</div>
<%end%>


<% end %>

</div>


<h4 align = "center"> Users taken Advance</h4>

<% @user1=User.where.not(advance_amount: nil) %>

<table border = "2">
	<tr>
		<th>Date</th>
		<th>Name</th>
		<th>Advance Amount</th>
    </tr>

	<% if @user1.blank? %>
	<table><th>No records to display</th></table>
	<% else %>

	<%total_amt=[]%>


	<% @user1.each do |i| %>
	<tr>
		<td><%= i.created_at.strftime("%d/%m/%y") %></td>
		<td><%= i.name%></td>
		   
    	<td align="right"><%= i.advance_amount %></td>
	    <% total_amt << i.advance_amount.to_i %>	
   	</tr>

	<% end %>
	<tr><td>Total</td><td colspan='2' align="right"><%= total_amt.sum %></td></tr>
    <% end %>

</table>


</div>

</center>


</body>
